<body class="text-center">

  <main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="/assets/icons/globe.png" alt="" width="100">
      <h1 class="h3 mb-3 fw-normal">Załóż konto</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Imię">
        <label for="floatingInput">Imię</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nazwisko">
        <label for="floatingInput">Nazwisko</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingInput" placeholder="Wiek">
        <label for="floatingInput">Wiek</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Miasto">
        <label for="floatingInput">Miasto</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Telefon">
        <label for="floatingInput">Telefon</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Hasło</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm password">
        <label for="floatingPassword">Potwierdź hasło</label>
      </div>
      <button class="w-100 btn btn-lg btn-dark" type="submit">Zarejestruj się</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
  </main>



    </body>
