.form-floating{
  width: 360px;
  margin-top: 20px;
  margin-bottom: 6px;
  padding: 3px;
}
.btn
{
  margin-top: 10px;
  width: 200px;
}
.center {
  display: table;
  margin: auto;
}
.main
{
  margin-top: 100px;
}
.errorMessage
{
  margin-top: 15px;;
  color:red;
  height: 20px;
}

