<div class="row buttonBar center col-md-9">
  <div class="center">
    <button class="btn btn-outline-dark" (click)="swichNumber(1)">Lista</button>
    <button class="btn btn-outline-dark" *ngIf="user.role == 4 || user.role == 3 || user.role == 2" (click)="swichNumber(2)">Dodaj</button>
    <button *ngIf="(articleService.articleId == 0)" disabled="disabled" class="btn btn-outline-dark" (click)="swichNumber(3)">Edytuj</button>
    <button *ngIf="(articleService.articleId != 0)" class="btn btn-outline-dark" (click)="swichNumber(3)">Edytuj</button>
    <button *ngIf="(articleService.articleId == 0)" disabled="disabled" class="btn btn-outline-dark">Usuń</button>
    <button *ngIf="(articleService.articleId != 0)" (click)="delete()" class="btn btn-outline-dark">Usuń</button>
</div>
</div>
<div class="contentCars">
  <app-list-user-articles *ngIf="swich == 1"></app-list-user-articles>
  <app-add-article *ngIf="swich == 2"></app-add-article>
  <app-edit-article *ngIf="swich == 3"></app-edit-article>
</div>
