
<div class="info">
  <div class="field">
    <div class="center">{{member?.FirstName}} {{member?.LastName}}</div>
  </div>
  <div class="tittle">Imię i nazwisko:</div>
</div>
<div class="info">
  <div class="field">
    <div class="center">{{member?.Email}}</div>
  </div>
  <div class="tittle">Email:</div>
</div>
<div class="info">
  <div class="field">
    <div class="center">{{member?.City}}</div>
  </div>
  <div class="tittle">Miasto:</div>
</div>
<div class="info">
  <div class="field">
    <div class="center">{{member?.PhoneNumber}}</div>
  </div>
  <div class="tittle">Telefon:</div>
</div>
<div class="info">
  <div class="field">
    <div class="center">{{age}}</div>
  </div>
  <div class="tittle">Wiek:</div>
</div>

