a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.btn
{
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-color: #000000;
}

.btn-light{
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active, .open>.dropdown-toggle.btn-light {
  font-weight: bold;
}

.btn-round {
  background-color: #ffffff;
  display:block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.btn-round:hover, .btn-round:focus, .btn-round:active, .btn-round.active, .open>.dropdown-toggle.btn-round {
  color: rgb(0, 0, 0);
  background-color: #0f0f0f75;
  border-color: #000000;
  cursor: pointer;
}

.hello{
  margin-top: 5px;
  margin-right: 10px;
  font-weight: bold;
}
.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}
