.sidepanel
{
  min-height: 750px;
  border-right: rgba(0, 0, 0, 0.397);
  border-style: groove;
  border-left: white;
  border-top: white;
  border-bottom: white;
}
.center {
  display: table;
  margin: auto;
}
.content{
  height: auto;
}
.profileimage{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.info{
  width: 300px;
  height: auto;
  margin-bottom: 50px;
  position: relative;
}

.btn{
  margin-top: 5px;
  width: 150px;
}

.data{
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: medium;
  font-weight: 500;
}

.bottomleft{
  position: absolute;
  bottom: 1px;
  left: 20px;
  font-size: x-small;
}
