  <div class="bg-image col-md-12">
    <div class="row">
      <div class="col-md-6"><img src="/assets/images/offroadportal1.png" height="100" class="titleimg u-offroad"></div>
      <div class="col-md-6"><img src="/assets/images/offroadportal2.png" height="100" class="titleimg u-portal"></div>
    </div>
  </div>
  <section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-2">
    <div class="row">
      <div class="guzik">
        <div class="text-center icon">
        <img src="/assets/icons/mountains.png" height="100">
        </div>
        <div class="text-center">
          <a class="nav-link text-dark" [routerLink]="['/expeditions']">WYPRAWY 4X4</a>
        </div>
        <div class="text-center">
          Na wakacje terenówką?<br>Razem raźniej!
        </div>
      </div>
      <div class="guzik">
        <div class="text-center icon2">
          <img src="/assets/icons/competition.png" height="70">
          </div>
          <div class="text-center">
            <a class="nav-link text-dark" [routerLink]="['/racing']">RAIDY</a>
          </div>
          <div class="text-center">
            Podejmij offroad'owe<br>wyzwanie i dołącz!
          </div>
      </div>
      <div class="guzik">
        <div class="text-center icon">
          <img src="/assets/icons/compas.png" height="100">
          </div>
          <div class="text-center">
            <a class="nav-link text-dark" [routerLink]="['/tutorials']">TERENOWE ABC</a>
          </div>
          <div class="text-center">
            Czyli co musisz wiedzieć<br>wybierając się w teren.
          </div>
      </div>
      <div class="guzik">
        <div class="text-center icon">
          <img src="/assets/icons/map.png" height="80">
          </div>
          <div class="text-center">
            <a class="nav-link text-dark" [routerLink]="['/roads']">TRASY<br>TERENOWE</a>
          </div>
          <div class="text-center">
            Wszytkie wspaniałe miejsca<br>które musisz odwiedzić!
          </div>
      </div>
    </div>
  </section>
